* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	background-color: hwb(0 0% 0%);
	display: flex;
	justify-content: center;
	align-items: center;
}
.full {
	width: 50%;
	max-width: 1000px;
	min-height: 100px;
	background-color: rgb(245, 142, 8);
	margin: 0px;
	display: grid;
	grid-template-columns: 2fr 4fr;
}
.left {
	position: initial;
	background-color: rgb(0, 240, 80);
	padding: 20px;

}
.right {
	position: initial;
	background-color: rgb(0, 174, 255);
	padding: 20px;

}
.image, .Contact, .Skills, .Language, .Hobbies, .title,
.Summary, .Experience, .Education, .project {
	margin-bottom: 30px;
}
.h2 {
	background-color: rgb(0, 240, 80);
}